{% extends 'base.html'%}
{% load staticfiles %}

{% block content%}
<div class="row ">
  <div class="col s12 m8 offset-m2 white transparentize z-depth-2 form-padding">
    <form action="" method="post">
      {% csrf_token %}
      <div class="col s8 offset-m2">
        {{form.username}}
      </div>

      <div class="col s8 offset-m2">
        {{form.password1}}
      </div>

      <div class="col s8 offset-m2">
        {{form.password2}}
      </div>

      <div class="row">
        <div class="input-field col offset-s4 s3">
          <button type="submit" name="login" class="waves-effect waves-light btn grey darken-4">Signup</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <img src="{% static 'img/signup-text.png' %}" alt="" width="100%"/>
</div>
{% endblock %}
