img{
  padding-top: 2%;
}
/*.add-padding{
  padding-top: .7em;

}*/

.transparentize {
    margin-top: 1%;
    border-radius: 3px;
    /*opacity: .9;*/
  }

.form-padding{
  padding: 5% !important;
}

.error-message{
  color: red;
}

.discover img{
  opacity: .4;
  z-index: 2;
}

.discover{
  background-color: black;
  color: white;
  text-align: center;
}

.icon{
  z-index: 1;
  position: relative;
  margin-top:-38%;
}

.center-text{
  text-align: center;
}

span.badge{
  position:static;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  background-color: #5B5F5E;
  border-radius: 2px;
  padding: .2em;
  margin-left: .3em
}
