img{
  padding-top: 2%;
}
/*.add-padding{
  padding-top: .7em;

}*/

.transparentize {
    margin-top: 1%;
    border-radius: 3px;
    opacity: .9;
  }

.form-padding{
  padding: 5% !important;
}

.error-message{
  color: red;
}
