{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col s12">
    <h1>{{lyrics.title}} - {{lyrics.artist}}</h1>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <p>{{lyrics.content}}</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    {% for mood in lyrics.mood_set.all%}
          <h4>  {{mood.title}}</h4>
          {% endfor %}
    {% for genre in lyrics.genre_set.all %}
      <h4>  {{genre.title}}</h4>
          {% endfor %}
  </div>
</div>
{% endblock %}
