{% extends 'base.html' %}
{% block content %}
<div class="row card " style="text-align:center">
  <div class="col s12">
    <h3 class="badge">{{lyrics.title}} by {{lyrics.artist}}</span></h3>
  </div>
<div class="row">
  <div class="col s12" >
    <p>{{lyrics.content|safe}}</p>
  </div>
</div>

<div class="row">
  <div class="col s12">
  Tags:  {% for mood in lyrics.mood_set.all%}
         <span class="badge"> {{mood.title}}</span>
          {% endfor %}
    {% for genre in lyrics.genre_set.all %}
    <span class="badge"> {{genre.title}}</span>
          {% endfor %}
  </div>
</div>
</div>
{% endblock %}
